.fondo-casos{
    background-color: #BDE5F9;
    padding-bottom: 40px;
}

.seccion-casos {
    background-color: #e0f7ff;
}

.titulo-seccion-caso {
    font-size: 28px;
    font-weight: bold;
    color: rgba(7, 12, 51, 1);
}

.premium-caso {
    color: #FFC700;
}

.subtitulo-seccion-caso {
    font-size: 14px;
    color: rgba(7, 12, 51, 1);
    padding-bottom: 20px;
}

.caso-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.caso-card .card-title-caso {
    font-size: 15px;
    margin-top: -5px;
    color: black;
}

.caso-card .card-text {
    color: black;
    margin-top: -10px;
    font-size: 18px;
}

.caso-card .card-text2 {
    color: black;
    margin-top: -25px;
    font-size: 18px;
    margin-bottom: -5px;
}

.caso-alert{
    color: #FFC700;
    font-size: 30px;
}

.caso-icon{
    font-size: 40px;
    color: #070C33;
}

.caso-card .btn-link {
    margin-top: 20px;
    color: #070C33;
    font-weight: bold;
    font-size: 12px;
}

.caso-card .btn-link:hover {
    text-decoration: underline;
}

.btn-warning {
    background-color: #FFC700;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}

.caso-img{
    width: 170px; 
    height: 170px;
}