.fondo-funcionalidades{
    background-color: #BDE5F9;
}

.funcionalidades-title{
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: bold;
    color: #000;
}

.section-title {
    color: #f5b800; /* Color de la palabra "Innoventa" */
}
.highlight-text {
    font-weight: bold;
    color: #f5b800;
}

.naranja{
    color: #f5b800;
}
.features-list {
    list-style-type: none; /* Quitar puntos de la lista */
    padding: 0;
    margin-top: 20px;
    font-size: 1.1em;
}
.features-list li {
    margin: 0.5em 0;
    margin-top: 25px;
    font-weight: bold;
    color: #555;
    font-size: 20px;
}
.features-list .highlight-item {
    color: #000;
    font-weight: bold;
}
.features-list .highlight-item::after {
    content: "✓";
    color: rgba(255, 198, 12, 1);/* Color del icono de check */
    font-weight: bold;
    margin-left: 10px;
}
.subheading {
    color: black;
    font-size: .9em;
}

.funcionalidades-button{
    margin-top: 50px;
    align-items: start;
}

.funcionalidades-contact{
    margin-top: 5px;
    padding-left: 20px;
    color: rgba(5, 4, 30, 1);
}

.imagen13{
    width: 600px;
    transform: translate(13%, 10%);
}