.fondo-funcionalidades{
    background-color: rgba(240, 240, 240, 1);
    padding-top: 50px;
}

.funcionalidades-title{
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: bold;
    color: #000;
}

.section-title {
    color: #f5b800; /* Color de la palabra "Innoventa" */
}
.highlight-text {
    font-weight: bold;
    color: #f5b800;
}

.highlight-text-blue {
    font-weight: bold;
    color: #1990ff;
}




.subheading {
    color: black;
    font-size: .9em;
}

.funcionalidades-button{
    margin-top: 50px;
    align-items: start;
}

.funcionalidades-contact{
    margin-top: 5px;
    padding-left: 20px;
    color: rgba(5, 4, 30, 1);
}

.imagen13{
    transform: translate(100%, -30%);
}

.image-grid-funcionalidades {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;    
}
  
.image-grid-funcionalidades img {
    width: 100%;
    border-radius: 10px; 
}