.fondo-planes{
    background-color: rgba(240, 240, 240, 1);
}

/* Tarjetas Centradas en su Contenedor */
.row {
    display: flex; /* Asegura que los hijos (las columnas) se alineen en una fila */
    justify-content: center; /* Centra las columnas en la fila */
}

/* Título del Plan */
.basic-plan-header {
    background-color: #FFD700; /* Amarillo */
    color: #0f1247;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pro-plan-header {
    background-color: #FFC700;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.price-section {
    background-color: #050038; 
    color: #ffffff;
    padding: 20px; 
    border-bottom: none;
}

.plan-title2{
    font-size: 1.6rem; /* Reduce el tamaño */
    font-weight: bold;
    margin-bottom: 0;
    color: white;
}

.price {
    font-size: 2.3rem; 
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

.billing-text {
    font-size: 0.85rem; 
    color: #ffffff;
    margin-top: 5px;
}

.billing-text2 {
    font-size: 0.7rem; 
    color: #ffffff;
    margin-top: -5px;
}

/* Lista de Características */
.feature-list {
    list-style-type: none;
    padding: 15px;
    color: #333;
    font-size: 0.85rem; 
    background-color: #f9f9f9;
    margin: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.feature-list li {
    border-bottom: 1px solid #ddd;
    padding: 6px 0; /* Reduce el padding */
}

.feature-list li:last-child {
    border-bottom: none;
}

.icon-cancel-plan{
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.icon-check-plan{
    font-size: 20px;
    font-weight: bold;
    color: #55C20D;
}

/* Botón Personalizado */
.custom-btn {
    background-color: #FFD700;
    color: #0f1247;
    border: none;
    padding: 10px 20px; /* Asegura que el padding sea adecuado para el botón */
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block; /* Asegura que el botón sea un bloque en línea */
    margin: 10px 0; /* Espaciado superior e inferior para el botón */
}

.custom-btn:hover {
    background-color: #FFC107;
    color: #0f1247;
}

/* Estilo de la Tarjeta de Precios */
.pricing-card {
    max-width: 300px; /* Limita el ancho máximo de la tarjeta */
    width: 100%; /* Asegura que la tarjeta ocupe el 100% del ancho disponible */
    margin: 50px; /* Añade un margen reducido entre tarjetas */
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.pricing-card:hover {
    transform: scale(1.05);
}

/* Ajustes Responsivos */
@media (max-width: 576px) {
    .col-md-6 {
        flex: 0 0 100%; /* Las tarjetas ocuparán todo el ancho en pantallas pequeñas */
        max-width: 100%;
    }
}

.plan-title{
    color: rgba(5, 0, 56, 1);
}

.reducir-separacion .col-md-3,
.reducir-separacion .col-md-4 {
    margin-left: 5px;
    margin-right: 5px;
}

.basico-plan{
    background-color: #FF8C00;
}

.premiun-list{
    padding-bottom: 0px;
    font-weight: bold;
}

.premiun-list-text{
    font-size: 9px;
    margin-bottom: -1px;
}

.icon-check-plan2{
    font-size: 20px;
    font-weight: bold;
    color: #55C20D;
}

.elite-plan-header{
    background-color: #006F6A;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.price-elite{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 3px;
    color: #ffffff;
}

.billing-text-elite{
    font-size: 0.85rem; 
    color: #FFC700;
    margin-top: 5px;
    font-weight: bold;
}

.billing-text-elite2{
    font-size: 0.7rem;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 7px;
}

.alert-text-caso{
    color: #FFC700;
}

.basic-plan-card-completa{
    margin-top: 75px;
}